{{ FLUENT_BIT_SERVICE_CONFIG }}


{% if FLUENTD_BIT_EXTRA_CONFIG is defined and FLUENTD_BIT_EXTRA_CONFIG|length %}
{{ FLUENTD_BIT_EXTRA_CONFIG }}
{% endif %}

{% if FLUENT_BIT_ALL_SERVICES is defined and FLUENT_BIT_ALL_SERVICES %}
# Include Configuration
{% for item in FLUENT_BIT_CONFIG_INCLUDES %}
@include {{ item.destination }}
{% endfor %}
{% endif %}




{% if FLUENT_BIT_CONFIG_INCLUDES is defined and FLUENT_BIT_CONFIG_INCLUDES|length %}
# Include Configuration
{% if FLUENT_BIT_FOR is defined and FLUENT_BIT_FOR |length %}
{% for services in FLUENT_BIT_FOR %}
{% for item in FLUENT_BIT_CONFIG_INCLUDES %}
{% if services|string() == item.service|string() %}
@include {{ item.destination }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}


{{ FLUENT_BIT_OUTPUT_CONFIG }}

